.header-container {
    padding: 1%;
}

.tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-item {
    display: inline;
    text-align: center;
    padding: 16px;
}
